@tailwind base;
@tailwind components;
@tailwind utilities;

@media (-webkit-device-pixel-ratio: 1.1) {
  * {
    font-size: 90%;
    -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    font-size: 85%;
    -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;
  }
}

@font-face {
  font-family: sans-serif;
}